<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="selectMemberById" parameterType="string" 
		resultType="member">
		SELECT * FROM MEMBER WHERE USERID=#{userId}
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER VALUES( #{userId}, #{password}, 
		#{userName}, #{gender}, #{age}, #{email}, #{phone}, #{address},
		#{hobby}, DEFAULT)
	</insert>
</mapper>